# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# IntelliJ related
*.iml
.idea/

# VSCode related
.vscode/

# Android related
**/android/.gradle/
**/android/local.properties
**/android/app/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/Xcode related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.symlinks/

# Misc
coverage/
